/simpleproxy/netsolution/.vs/
/simpleproxy/netsolution/Api1/Bin
/simpleproxy/netsolution/Api1/Api1.sln.DotSettings.user
/simpleproxy/netsolution/Api1.sln.DotSettings.user
/simpleproxy/netsolution/Api1/Api1.csproj.user
/simpleproxy/netsolution/Api1/obj
